<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reg_form</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="../assets/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/fonts/OFL.txt">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9fe8afb7ed.js" crossorigin="anonymous"></script>
</head>


<body>

  <nav class="navbar navbar-expand-lg px-5">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-2 text-light" href="#">Future-Coders</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active fw-bold text-light" aria-current="page" href="#">Home</a>
          <a class="nav-link active fw-bold text-light" aria-current="page" href="#">About</a>
          <a class="nav-link active fw-bold text-light" aria-current="page" href="#">Services</a>
          <a class="nav-link active fw-bold text-light" aria-current="page" href="#">Contacts</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- form -->
<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row mt-5">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="https://img.freepik.com/free-vector/login-concept-illustration_114360-739.jpg" class="img-fluid w-75" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <form class="col">
        <div class="mb-3 col-8">
          <label for="exampleInputName" class="form-label" style="color: aliceblue;">Enter Your Name:</label>
          <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
        </div>
        <div class="mb-3 col-8">
          <label for="exampleInputEmail1" class="form-label" style="color: aliceblue;">Email address:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-8">
          <label for="exampleInputPassword1" class="form-label" style="color: aliceblue;">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <!-- <button type="submit" class="btn_submit">Submit</button> -->
        <button class="btn-submit p-2 rounded-4 py-2 px-3">Submit</button>
      </form>

    </div>
  </div>
</div>
</body>




</html>