<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloth Project</title>
    <link rel="stylesheet" href="ProjectII.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/fonts/OFL.txt">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9fe8afb7ed.js" crossorigin="anonymous"></script>
</head>

<body>

    <!--********************** section 1 ********************** -->
    <section class="py-5 d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-start btn_shop_now">
                    <h3 class="display-5 fw-bold section1_h1">Give Thanks In Style With Maize Hoodies</h3>
                    <p class="text-black">Discover Cozy and Fashionable Hoodies for Your Thanksgiving Celebrations</p>
                    <br>


                    <button type="button" class=" mt-3 p-3 my-4 rounded-4">SHOP NOW & SAVE 20 %</button>

                </div>
                <div class="col-md-6 text-center">
                    <img class="section1_img"
                        src="https://cdn.shopify.com/s/files/1/2170/1117/files/portrait-cheerful-people-man-woman-basic-clothing-smiling_copy_2.png?v=1686559932"
                        alt="Maize Hoodie" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <!-- ********************* Section 2 ************************ -->
    <section class="product_section py-5 ">
        <div class="container">
            <h1 class="text-center py-4 fw-bold">Trending Now</h1>
            <div class="row g-4">
                <!------------------------- Product Card 1 ----------------------->
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center shadow-sm">
                        <img src="https://pagefly.myshopify.com/cdn/shop/files/Untitleddesign_1.png?v=1686564644"
                            class="card-img-top" alt="Autumn Breeze Hoodie">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start">Autumn Breeze Hoodie</h5>
                            <p class="card-text text-black fs-4 fw-bold text-start">$49.99</p>
                            <div class="d-flex justify-content-start mb-2">
                                <span class="color_circle bg-danger"></span>
                                <span class="color_circle bg-success"></span>
                                <span class="color_circle bg-primary"></span>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                                <button class="btn btn-outline-secondary btn-sm">S</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">M</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">L</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">XL</button>
                            </div>
                            <!-- <button class="btn-shop w-75 p-2 rounded-4">Add to Cart</button> -->
                            <button class="btn-shop w-100 p-2 rounded-4 py-3 fs-5">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!---------------------------- Product Card 2 ------------------------------>
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center shadow-sm">
                        <img src="https://pagefly.myshopify.com/cdn/shop/files/Untitleddesign_2.png?v=1686564773"
                            class="card-img-top" alt="Cozy Comfort Hoodie">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start">Cozy Comfort Hoodie</h5>
                            <p class="card-text text-black fs-4 fw-bold text-start">$54.99</p>
                            <div class="d-flex justify-content-start mb-2">
                                <span class="color_circle bg-primary"></span>
                                <span class="color_circle bg-brown"></span>
                                <span class="color_circle bg-warning"></span>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                                <button class="btn btn-outline-secondary btn-sm">S</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">M</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">L</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">XL</button>
                            </div>
                            <!-- <button class="btn-shop w-75 p-2 rounded-4 ">Add to Cart</button> -->
                            <button class="btn-shop w-100 p-2 rounded-4 py-3 fs-5">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!------------------------------ Product Card 3 ------------------------------->
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center shadow-sm">
                        <img src="https://pagefly.myshopify.com/cdn/shop/files/Untitleddesign_4.png?v=1686564999"
                            class="card-img-top" alt="Festive Fall Hoodie">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start">Festive Fall Hoodie</h5>
                            <p class="card-text text-black fs-4 fw-bold text-start">$59.99</p>
                            <div class="d-flex justify-content-start mb-2">
                                <span class="color_circle bg-warning"></span>
                                <span class="color_circle bg-primary"></span>
                                <span class="color_circle bg-dark"></span>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                                <button class="btn btn-outline-secondary btn-sm">S</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">M</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">L</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">XL</button>
                            </div>
                            <!-- <button class="btn-shop w-75 p-2 rounded-4">Add to Cart</button> -->
                            <button class="btn-shop w-100 p-2 rounded-4 py-3 fs-5">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!---------------------------------- Product Card 4 ------------------------------>
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center shadow-sm">
                        <img src="https://pagefly.myshopify.com/cdn/shop/files/Untitleddesign_3.png?v=1686565114"
                            class="card-img-top" alt="Adventure Grey Hoodie">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start">Adventure Grey Hoodie</h5>
                            <p class="card-text text-black fs-4 fw-bold text-start">$65.99</p>
                            <div class="d-flex justify-content-start mb-2">
                                <span class="color_circle bg-secondary"></span>
                                <span class="color_circle bg-dark"></span>
                                <span class="color_circle bg-primary"></span>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                                <button class="btn btn-outline-secondary btn-sm">S</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">M</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">L</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">XL</button>
                            </div>
                            <!-- <button class="btn-shop w-75 p-2 rounded-4">Add to Cart</button> -->
                            <button class="btn-shop w-100 p-2 rounded-4 py-3 fs-5">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ************************** Section 3 ******************** -->

    <!-- Banner Section -->
    <section class="banner_section d-flex align-items-center justify-content-center">
        <div class="text-center text-white banner_design  btn_shop_now">
            <h1 class="display-5 fw-bold section_3_h1">Cozy & Comfortable This <br> Thanksgiving</h1>
            <p class="section3_para">This Thanksgiving, express gratitude in style with our premium hoodies. Embrace the
                warmth and joy of the
                holiday while staying comfortable and fashionable. Shop now to elevate your Thanksgiving celebration
                with Maize.</p>
            <!-- <button type="button">SHOP NOW</button> -->
            <button class=" btn  p-3 rounded-4 text-center" style=" background-color: #ff7043; color: white;">SHOP
                NOW</button>

        </div>
    </section>



    <!-- ************************************ Section 4 ****************************************** -->
    <section class="product_section py-5 ">
        <div class="container">
            <h1 class="text-center py-4 fw-bold">Top Picks For Thanksgiving</h1>
            <div class="row g-4">

                <!------------------------- Product Card 1 ----------------------->
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center shadow-sm">
                        <img src="https://pagefly.myshopify.com/cdn/shop/files/1.png?v=1686566074" class="card-img-top"
                            alt="Autumn Breeze Hoodie">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start">Autumn Breeze Hoodie</h5>
                            <p class="card-text text-black fs-4 fw-bold text-start">$49.99</p>
                            <div class="d-flex justify-content-start mb-2">
                                <span class="color_circle bg-danger"></span>
                                <span class="color_circle bg-success"></span>
                                <span class="color_circle bg-primary"></span>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                                <button class="btn btn-outline-secondary btn-sm">S</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">M</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">L</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">XL</button>
                            </div>
                            <button class="btn-shop w-100 p-2 rounded-4 py-3 fs-5">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!---------------------------- Product Card 2 ------------------------------>
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center shadow-sm">
                        <img src="https://pagefly.myshopify.com/cdn/shop/files/2.png?v=1686566187" class="card-img-top"
                            alt="Cozy Comfort Hoodie">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start">Cozy Comfort Hoodie</h5>
                            <p class="card-text text-black fs-4 fw-bold text-start">$54.99</p>
                            <div class="d-flex justify-content-start mb-2">
                                <span class="color_circle bg-primary"></span>
                                <span class="color_circle bg-brown"></span>
                                <span class="color_circle bg-warning"></span>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                                <button class="btn btn-outline-secondary btn-sm">S</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">M</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">L</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">XL</button>
                            </div>
                            <button class="btn-shop w-100 p-2 rounded-4 py-3 fs-5">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!------------------------------ Product Card 3 ------------------------------->
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center shadow-sm">
                        <img src="https://pagefly.myshopify.com/cdn/shop/files/3_229a70d4-b072-4fb1-86e4-b4783ed8c06c.png?v=1686566459"
                            class="card-img-top" alt="Festive Fall Hoodie">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start">Festive Fall Hoodie</h5>
                            <p class="card-text text-black fs-4 fw-bold text-start">$59.99</p>
                            <div class="d-flex justify-content-start mb-2">
                                <span class="color_circle bg-warning"></span>
                                <span class="color_circle bg-primary"></span>
                                <span class="color_circle bg-dark"></span>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                                <button class="btn btn-outline-secondary btn-sm">S</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">M</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">L</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">XL</button>
                            </div>
                            <button class="btn-shop w-100 p-2 rounded-4 py-3 fs-5">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!---------------------------------- Product Card 4 ------------------------------>
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center shadow-sm">
                        <img src="https://pagefly.myshopify.com/cdn/shop/files/4.png?v=1686566538" class="card-img-top"
                            alt="Adventure Grey Hoodie">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start">Adventure Grey Hoodie</h5>
                            <p class="card-text text-black fs-4 fw-bold text-start">$65.99</p>
                            <div class="d-flex justify-content-start mb-2">
                                <span class="color_circle bg-secondary"></span>
                                <span class="color_circle bg-dark"></span>
                                <span class="color_circle bg-primary"></span>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                                <button class="btn btn-outline-secondary btn-sm">S</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">M</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">L</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">XL</button>
                            </div>
                            <button class="btn-shop w-100  py-3 fs-5 p-2 rounded-4">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="specials-section">
        <h2>Thanksgiving Season Specials</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4 special-item">
                    <div class="special-icon">
                        <i class="fa-solid fa-tag"></i>
                    </div>
                    <h4>Exclusive Discounts</h4>
                    <p>Enjoy extra savings during the Thanksgiving season with our exclusive discount code: THANKS20</p>
                </div>
                <div class="col-md-4 special-item">
                    <div class="special-icon">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <h4>Free Shipping</h4>
                    <p>We're spreading the holiday cheer by offering free shipping on all orders placed during the
                        Thanksgiving season.</p>
                </div>
                <div class="col-md-4 special-item">
                    <div class="special-icon">
                        <i class="fa-solid fa-gift"></i>
                    </div>
                    <h4>Free Gift Wrapping</h4>
                    <p>Free gift wrapping during Thanksgiving. Make your hoodie purchases extra special with beautifully
                        wrapped packages.</p>
                </div>
            </div>
            <div class="mt-4">
                <button class="btn-shop p-2 rounded-4 py-3 px-3">SHOP NOW & SAVE !</button>
            </div>
        </div>
    </section>


    <section class="testimonials py-5">
        <div class="container text-center">
            <h2 class="mb-5">What Our Customers Say</h2>
            <div class="row justify-content-evenly">
                <!-- First Testimonial -->
                <div class="col-md-4 col-lg-3">
                    <div class="card shadow-sm">
                        <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/smiling-cheerfully-feeling-happy-showing-concept_2.png?v=1686642452"
                            class="card-img-top" alt="Sarah Davis">
                        <div class="card-body">
                            <p class="card-text text-lg-start">I absolutely love my Maize hoodie! The quality is
                                outstanding, and it
                                keeps me warm and cozy during the colder months. Highly recommend!</p>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5 class="card-title">Sarah Davis</h5>
                                </div>
                                <div class="stars fs-3">
                                    &#9733; &#9733; &#9733; &#9733; &#9733;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Second Testimonial -->
                <div class="col-md-4 col-lg-3">
                    <div class="card shadow-sm">
                        <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/smiling-cheerfully-feeling-happy-showing-concept_3.png?v=1686642452"
                            class="card-img-top" alt="Emily Johnson">
                        <div class="card-body">
                            <p class="card-text text-lg-start">Maize hoodies are my go-to for both style and comfort.
                                The designs are
                                trendy, and the fit is perfect. I get compliments every time I wear one!</p>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5 class="card-title">Sarah Davis</h5>
                                </div>
                                <div class="stars fs-3">
                                    &#9733; &#9733; &#9733; &#9733; &#9733;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Third Testimonial -->
                <div class="col-md-4 col-lg-3">
                    <div class="card shadow-sm">
                        <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/smiling-cheerfully-feeling-happy-showing-concept_1.png?v=1686642452"
                            class="card-img-top" alt="John Smith">
                        <div class="card-body">
                            <p class="card-text text-lg-start">I absolutely love my Maize hoodie! The quality is
                                outstanding, and it
                                keeps me warm and cozy during the colder months. Highly recommend!</p>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5 class="card-title">Sarah Davis</h5>
                                </div>
                                <div class="stars fs-3">
                                    &#9733; &#9733; &#9733; &#9733; &#9733;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>


    <div class="container section_7_pro">
        <div class="section7_heading ">
            <h1 class="text-center fw-bold text-capitalize">customer styling inspiration</h1>
            <p class="text-center">We created this section with<span class="fw-bold">VIBE Shoppable Instagram</span>
                Feedapp</p>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">

            <div id="products" class="col-lg-3 col-md-3 col-6 p-0 "
                style="background-image: url(https://cdn.shopify.com/s/files/1/2170/1117/files/379721102_1712286745951901_928707408498913827_n.jpg?v=1695203313);">

                <div class="overlay">
                    <i class="fa-brands fa-instagram fs-3 text-white"></i>
                    <br>
                    <a class="read-article">SHOP THIS PRODUCT</a>
                    <div class="tag_icon"><i class="fa-solid fa-tag fs-4 discount_tag"></i></div>
                </div>
            </div>



            <div id="products" class="col-lg-3 col-md-3 col-6 p-0 "
                style="background-image: url(https://cdn.shopify.com/s/files/1/2170/1117/files/380810533_259988690350849_8580653597866703819_n.jpg?v=1695203314);">

                <div class="overlay">
                    <i class="fa-brands fa-instagram fs-3 text-white"></i>
                    <br>
                    <a class="read-article">SHOP THIS PRODUCT</a>
                    <div class="tag_icon"><i class="fa-solid fa-tag fs-4 discount_tag"></i></div>
                </div>
            </div>



            <div id="products" class="col-lg-3 col-md-3 col-6 p-0 "
                style="background-image: url(https://cdn.shopify.com/s/files/1/2170/1117/files/381067079_2240346302841956_2698554573323655286_n.jpg?v=1695203315);">

                <div class="overlay">
                    <i class="fa-brands fa-instagram fs-3 text-white"></i>
                    <br>
                    <a class="read-article">SHOP THIS PRODUCT</a>
                    <div class="tag_icon"><i class="fa-solid fa-tag fs-4 discount_tag"></i></div>
                </div>
            </div>



            <div id="products" class="col-lg-3 col-md-3 col-6 p-0 "
                style="background-image: url(https://cdn.shopify.com/s/files/1/2170/1117/files/380061981_828556025396514_4868381605164094513_n.jpg?v=1695203316);">

                <div class="overlay">
                    <i class="fa-brands fa-instagram fs-3 text-white"></i>
                    <br>
                    <a class="read-article">SHOP THIS PRODUCT</a>
                    <div class="tag_icon"><i class="fa-solid fa-tag fs-4 discount_tag"></i></div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center">

            <div id="products" class="col-lg-3 col-md-3 col-6 p-0 "
                style="background-image: url(https://cdn.shopify.com/s/files/1/2170/1117/files/379766373_856685192655798_8962368433697880075_n.jpg?v=1695203317);">

                <div class="overlay">
                    <i class="fa-brands fa-instagram fs-3 text-white"></i>
                    <br>
                    <a class="read-article">SHOP THIS PRODUCT</a>
                    <div class="tag_icon"><i class="fa-solid fa-tag fs-4 discount_tag"></i></div>
                </div>
            </div>



            <div id="products" class="col-lg-3 col-md-3 col-6 p-0 "
                style="background-image: url(https://cdn.shopify.com/s/files/1/2170/1117/files/380418567_273875852187600_8512601327435473614_n.jpg?v=1695203317);">

                <div class="overlay">
                    <i class="fa-brands fa-instagram fs-3 text-white"></i>
                    <br>
                    <a class="read-article">SHOP THIS PRODUCT</a>
                    <div class="tag_icon"><i class="fa-solid fa-tag fs-4 discount_tag"></i></div>
                </div>
            </div>



            <div id="products" class="col-lg-3 col-md-3 col-6 p-0 "
                style="background-image: url(https://cdn.shopify.com/s/files/1/2170/1117/files/379720879_1044367279899117_3789489697512387913_n.jpg?v=1695203318);">

                <div class="overlay">
                    <i class="fa-brands fa-instagram fs-3 text-white"></i>
                    <br>
                    <span class="read-article">SHOP THIS PRODUCT</a>
                        <div class="tag_icon"><i class="fa-solid fa-tag fs-4 discount_tag"></i></div>
                </div>
            </div>



            <div id="products" class="col-lg-3 col-md-3 col-6 p-0 "
                style="background-image: url(https://cdn.shopify.com/s/files/1/2170/1117/files/379813525_852255999867542_7162411372720902221_n.jpg?v=1695203319);">

                <div class="overlay">
                    <i class="fa-brands fa-instagram fs-3 text-white"></i>
                    <br>
                    <a class="read-article">SHOP THIS PRODUCT</a>
                    <div class="tag_icon"><i class="fa-solid fa-tag fs-4 discount_tag"></i></div>
                </div>
            </div>

            <br><br>
            <div class="mt-5 mb-5 d-flex justify-content-center">
                <button class=" btn  p-3 rounded-4 text-center" style=" background-color: #ff7043; color: white;">SEE
                    MORE</button>

            </div>



        </div>

        <!-- <button class="btn-see  p-3 py-2 rounded-4 mt-5">SEE MORE</button> -->
    </div>
    <style>
        #products {
            width: 280px;
            height: 280px;
            background-size: 100%;
            /* Background starts at normal size */
            background-position: center;
            transition: background-size .25s ease;
            /* Smooth transition for zoom-out effect */
        }

        .overlay {
            background-color: #1b1b1c38;
            text-align: center;
            padding: 45% 0;
            opacity: 0;
            transition: opacity .25s ease;
        }

        #products:hover .overlay {
            opacity: 0.9;
        }

        #products:hover {
            background-size: 120%;
            /* Zoom out effect (image appears to zoom away) */
        }

        .read-article {
            font-family: HelveticaNeueLTStd;
            font-weight: 400;
            font-size: .85rem;
            text-transform: uppercase;
            padding-bottom: .25rem;
            color: white;
        }
    </style>



    <section class="subscribe-section py-5">
        <div class="container text-center">
            <h2 class="mb-3 fs-1">Subscribe For Exclusive Updates</h2>
            <p class="mb-4">Get early access, special offers, and the latest releases. Join now and elevate your hoodie
                game!</p>


            <div class="sub_inp">
                <div class="AV">
                    <input type="email" class=" input_btm  p-3 rounded-4 border-0 " placeholder="Enter your email">
                </div>
    
                <div class="VA">
                    <button class=" btn  p-3 rounded-4 mt-4 mt-md-0"
                        style="margin-left: 20px; background-color: #ff7043; color: white;">SUBSCRIBE NOW</button>
                </div>
            </div>



            <div class="social-icons mt-4">
                <a href="#" class="btn btn-dark mx-2">
                    <i class="fab fa-facebook-f fs-3"></i>
                </a>
                <a href="#" class="btn btn-dark  mx-2">
                    <i class="fab fa-instagram fs-3"></i>
                </a>
                <a href="#" class="btn btn-dark  mx-2">
                    <i class="fab fa-twitter fs-3"></i>
                </a>
            </div>
        </div>
    </section>



</body>