<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reg_form</title>

    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/fonts/OFL.txt">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9fe8afb7ed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Self.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <img src="https://lwfiles.mycourse.app/62a6cd5e1e9e2fbf212d608d-public/6efdd5e7f0d663cf231d0f2040be0a1e.png"
                alt="" width="100px">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <button type="button" class="btn_batch text-light fw-bold">New sigma 4.0</button>
                    <a class="nav-link active fw-bold text-dark ms-2" aria-current="page" href="#">Home</a>
                    <a class="nav-link active fw-bold text-dark ms-2" aria-current="page" href="#">New Cources</a>
                    <a class="nav-link active fw-bold text-dark ms-2" aria-current="page" href="#">Login</a>
                    <button type="button" class="btn btn-outline-primary ms-2">Sign up</button>
                </div>
            </div>
</body>